<header class="blog-header-nav">
  <div class="container">
    <a href="/blog/" class="blog-title-link">{{ metadata.title }}</a>
    <a href="https://sethubble.ru/" class="nav-button">← Вернуться на главный сайт</a>
  </div>
</header>
